.microclimate-sensor-list {
	padding-top: 16px;
}

.microclimate-sensor-panel {
	width: 240px;
	height: 120px;
	float: left;
	margin: 0 8px 8px 0;
	background-color: #e2e2e2;
	padding: 8px;
}

.microclimate-sensor-data {
	font-size: 48px;
	color: #666666;
}

.microclimate-sensor-no-data {
	color: #a52a2a;
}

.th-microclimate-chart {
	height: 400px;
	margin-top: 26px;
}
